modules = ["python-3.12", "nodejs-20", "web"]

[nix]
channel = "stable-24_05"
packages = ["glibcLocales", "libxcrypt", "pkg-config", "xsimd"]

[workflows]
runButton = "Start Development Server"

[[workflows.workflow]]
name = "Start Development Server"
author = 42117987
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 app.py"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm install && npm start"

[[workflows.workflow]]
name = "Build Frontend"
author = 42117987
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run build"

[[ports]]
localPort = 3001
externalPort = 80

[[ports]]
localPort = 4005
externalPort = 4005
